name: End-to-end Testing (Nightly)
on:
  pull_request:
  # Running on pull requests to catch breaking changes as early as possible.
  # Waiting for this test to pass is recommended, but contributors can use their discretion whether they want to or not.
  schedule:
    # Run every morning Pacific Time. Random hour and minute to avoid creating excess traffic during popular times.
    - cron:  '17 17 * * *'

jobs:
  build_and_test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: ros-tooling/setup-ros@0.0.13
      - uses: ros-tooling/action-ros-ci@0.0.13
        with:
          package-name: system_metrics_collector
      - uses: actions/setup-python@v1
        with:
          python-version: '3.5'
      - name: Run end-to-end test
        run: source /home/runner/work/system_metrics_collector/system_metrics_collector/ros_ws/install/setup.bash && python test/run_e2e_test.py
